@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Routed Gothic';
    src: url('/routed-gothic-wide.ttf');
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply bg-gray-100;
}